
.black24 {
    position: relative;
    font-family: 'Futura Md BT';
 
}

.black24-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: auto;
    text-transform: uppercase;
}

.black24-right ul li img {
    width: 25px;
}

.last-black {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    column-gap: 5px;

}

.last-black img {
    width: 20px;

}

.black24-right ul li {
    color: white;
    font-weight: 200;
    border-bottom: 1px solid white;
    padding: 0 4px 2px 4px;
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    column-gap: 5px;
    font-size: 13px;
    letter-spacing: 1px;

}

.black24-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 90%;
    margin: auto;
}

.arrow24{
    width: 55px;
    margin: 10px 0;
    margin-right: 25px;
}

.black24-right p:first-child{
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    padding: 8px 13px;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Futura Bk BT';
     font-style: normal; 
}

.black24-right p:first-child span{
    font-size: 20px;
    font-weight: 800;
}

.black24-right p:nth-child(2){
    padding: 8px 25px;
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 25px;
    font-weight: 900;
    margin-top: 9px;
}

.black24-text h2{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 5px 0; 
    font-family: sans-serif;

}

.black24-text h2 span{ 
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 0.5px white; /* White outline */
    text-transform: uppercase;
    font-family: Arial, sans-serif;
  }

  .black24-discount {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  .black24-discount p:nth-child(1){
    border-bottom: 12px solid black;
    font-size: 20px;
    letter-spacing: -1px;
  }

  .black24-discount p:nth-child(2){
    font-size: 80px;
    font-weight: 900;
    font-family: 'Futura';
    font-style: normal;

  }

  .black24-discount p:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
  }

  .black24-discount p:nth-child(3) span:first-child{
    font-size: 60px;
    font-weight: 900;
    font-family: 'Futura'; 
    font-style: normal;
    margin-bottom: -15px;

  }

  .desktop{
    display: none;
  }

  @media only screen and (min-width: 500px) {

    .black24-text { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 90%;
    }
  }


  @media only screen and (min-width: 768px) {
    .desktop{
        display: block;
      }
      .mobile{
        display: none;
      }
  }